@model IEnumerable<ColorScheme.Models.ColorSchemeM>

@{
    ViewData["Title"] = "Details";
    Layout = "_Layout";
}


<    <table>
    <tr>
        <th>Searched Color</th>
        <th>Visual</th>
        <th>Results Color</th>
        <th>Visual</th>
        <th>Results Color</th>
        <th>Visual</th>
        <
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ColorSearched</td>
            <td class="colors" style="background-color: @item.ColorSearchedHex">@item.ColorSearchedHex</td>
            <td>@item.ColorReceived</td>
            <td class="colors" style="background-color: @item.ColorReceivedHex">@item.ColorReceivedHex</td>
            <td>@item.ColorReceivedTwo</td>
            <td style="background-color: @item.ColorReceivedHexTwo">@item.ColorReceivedHexTwo</td>
        <td><a asp-action="DeleteColorScheme" asp-route-id="@item.ID">Delete</a></td>
        </tr>
    }

</table>

