@model IEnumerable<ColorScheme.Models.ColorSchemeM>

@{
    ViewData["Title"] = "My Colors";
    Layout = "_Layout3";

}


<div class="col-md-1 col-xs-12"></div>
<div class="col-md-10 col-xs-12">
    <table class="table table-dark table-striped table-bordered">
        <tr>
            <th>Palette Type</th>
            <th>Searched Color</th>
            <th>Hex Code</th>
            <th>Color Match #1</th>
            <th>Hex Code</th>
            <th>Color Match #2</th>
            <th>Hex Code</th>
            <th>Delete?</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.SchemeType</td>
                <td>@item.ColorSearched</td>
                <td class="colors" style="background-color: @item.ColorSearchedHex">@item.ColorSearchedHex</td>
                <td>@item.ColorReceived</td>
                <td class="colors" style="background-color: @item.ColorReceivedHex">@item.ColorReceivedHex</td>
                <td>@item.ColorReceivedTwo</td>
                <td style="background-color: @item.ColorReceivedHexTwo">@item.ColorReceivedHexTwo</td>
                <td><a asp-action="DeleteColorScheme" asp-route-id="@item.ID">Delete</a></td>
            </tr>
        }

    </table>
</div>
<div class="col-md-1 col-xs-12"></div>

