@model IEnumerable<ColorScheme.Models.ColorSchemeM>

@{
    ViewData["Title"] = "Details";
    Layout = "_Layout";
}

<    <table>
    <tr>
        <th>Searched Color</th>
        <th>Viual</th>
        <th>Results Color</th>
        <th>Visual</th>
        <th>Results Color</th>
        <th>Visual</th>
        <
    </tr>
    @foreach (var item in Model)
    {
    <tr>
        <td>@item.ColorSearched</td>
        <td>@item.ColorSearchedHex</td>
        <td>@item.ColorReceived</td>
        <td>@item.ColorReceivedHex</td>
        <td>@item.ColorReceivedTwo</td>
        <td>@item.ColorReceivedHexTwo</td>

    </tr>
    }

</table>