@model ColorScheme.Models.ColorSchemeM



@{
    ViewData["Title"] = "ColorScheme";
    Layout = "_Layout";
}

<body>
    <h1>Results</h1>
    @*<table>
        <tr>
            <th>Searched Color</th>
            <th>Viual</th>
            <th>Results Color</th>
            <th>Visual</th>
            <th>Results Color</th>
            <th>Visual</th>
            <
        </tr>
       
            <tr>
                <td>@Model.ColorSearched</td>
                <td>@Model.ColorSearchedHex</td>
                <td>@Model.ColorReceived</td>
                <td>@Model.ColorReceivedHex</td>
                <td>@Model.ColorReceivedTwo</td>
                <td>@Model.ColorReceivedHexTwo</td>

            </tr>


    </table>*@
    <p>Model</p>
    <form asp-action="Create" method="post" name="colorScheme">
        <div class="form-group">
            <label asp-for="UserMID" class="control-label"></label>
            <select asp-for="UserMID" class="form-control" asp-items="ViewBag.ID"></select>
            <span asp-validation-for="UserMID" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="SchemeType" class="control-label"></label>
            <select asp-for="SchemeType" class="form-control" asp-items="@Html.GetEnumSelectList<ColorScheme.Models.SchemeType>()"></select>
            <span asp-validation-for="SchemeType" class="text-danger"></span>
        </div>
        <input name="ColorSearched" value="@Model.ColorSearched" />
        <input name="ColorSearchedHex" value="@Model.ColorSearchedHex" />
        <input name="ColorReceived" value="@Model.ColorReceived" />
        <input name="ColorReceivedHex" value="@Model.ColorReceivedHex" />
        <input name="ColorReceivedTwo" value="@Model.ColorReceivedTwo" />
        <input name="ColorReceivedHexTwo" value="@Model.ColorReceivedHexTwo" />
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>
</body>